<h1>Kittens</h1>


<% @kittens.each do |kitten| %>
  <p><%= "Kitten Name: #{kitten.name}" %></p>
  <p><%= "Kitten Age: #{kitten.age}" %></p>
  <p><%= "Kitten Cuteness: #{kitten.cuteness}" %></p>
  <p><%= "Kitten Softness: #{kitten.softness}" %></p>
 <% end %>